<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064556328438-vtca1c1i0mkf7h2am1k6ln8g44lofqam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064556328438-vtca1c1i0mkf7h2am1k6ln8g44lofqam</string>
	<key>API_KEY</key>
	<string>AIzaSyD9e4MCQNfLUQeBN4WDhKfBCS5aLyrylsw</string>
	<key>GCM_SENDER_ID</key>
	<string>1064556328438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.minimal-advertisment.dev</string>
	<key>PROJECT_ID</key>
	<string>minimal-advertisement-dev-aed1</string>
	<key>STORAGE_BUCKET</key>
	<string>minimal-advertisement-dev-aed1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064556328438:ios:047fff975fdcbb1c0b43d7</string>
</dict>
</plist>